<template>
  <div>
    <v-toolbar-title v-if="!editing" v-on:dblclick="toggleEdit()">{{ listTitle }}</v-toolbar-title>
    <v-form @submit.prevent="submit()" v-show="editing">
      <v-text-field
          @blur="closeEditing()"
          clearable
          flat
          ref="input"
          required
          v-model="newTitle"
      >
      </v-text-field>

    </v-form>
  </div>
</template>

<script>
  export default {
    name: 'EditListTitle',
    props: {
      listTitle: String
    },
    data: () => ({
      editing: false,
      newTitle: ''
    }),
    methods: {
      valid () {
        return this.newTitle !== null && this.newTitle.trim() !== ''
      },
      toggleEdit () {
        this.editing = true
        this.$nextTick(() => this.$refs.input.focus())
      },
      submit () {
        if (!this.valid()) {
          this.newTitle = this.listTitle
          return false
        }

        this.$store
          .dispatch('UPDATE_LIST_TITLE', {
            title: this.newTitle,
            listId: this.$route.params.listId
          })
          .then(() => {
            this.editing = false
          })
      },
      closeEditing () {
        this.editing = false
        this.newTitle = this.listTitle
      }
    },
    mounted () {
      this.newTitle = this.listTitle
    }
  }
</script>