<template>
  <v-form @submit.prevent="createNewTask()">
    <v-text-field
        append-icon="add"
        label="Добавление новой задачи"
        v-model="title"
    ></v-text-field>
  </v-form>
</template>

<script>

  export default {
    name: 'NewTask',
    data: () => ({
      title: ''
    }),
    methods: {
      async createNewTask () {
        await this.$store.dispatch('POST_TASK', {
          taskTitle: this.title,
          listId: this.$route.params.listId
        })

        this.$store.commit('SET_NOTIFICATION', {
          display: true,
          text: 'Задача успешно добавлена',
          class: 'success'
        })

        this.title = ''
      }
    }
  }
</script>