<template>
  <v-list-tile @click.prevent="toggle(index)" ripple>
    <v-list-tile-action>
      <v-btn @click="openModal()" icon>
        <v-icon color="pink">edit</v-icon>
      </v-btn>
    </v-list-tile-action>

    <v-list-tile-content>
      <v-list-tile-title>{{task.title}}</v-list-tile-title>
      <v-list-tile-sub-title>
        Примечаний: {{ task.notes.length }}
      </v-list-tile-sub-title>
    </v-list-tile-content>

    <v-list-tile-action-text>
      <v-icon color="green" v-if="task.isComplete">check_circle</v-icon>
      <v-icon color="gray" v-else>check_circle</v-icon>
    </v-list-tile-action-text>
  </v-list-tile>
</template>

<script>
  export default {
    name: 'Task',
    props: {
      task: {
        title: String,
        subTitle: String,
        isComplete: Boolean
      },
      index: Number,
    },
    methods: {
      async toggle () {
        await this.$store.dispatch('TOGGLE_TASK', {
          taskId: this.task.id,
          listId: this.$route.params.listId
        })
      },
      openModal () {
        this.$router.push({ name: 'notes', params: { taskId: this.task.id } })
      }
    },
  }
</script>