<template>
  <div style="height: 100%;">
    <v-card style="height: 100%; overflow: hidden;" tile>
      <v-toolbar color="blue" dark>
        <EditListTitle :listTitle="listTitle"/>

        <v-spacer></v-spacer>

        <v-btn icon>
          <v-icon>search</v-icon>
        </v-btn>
      </v-toolbar>

      <v-list style="height: calc(100% - 120px); overflow-y: auto;" two-line>
        <template v-for="(task, key) in TASKS">
          <Task :index="key" :key="key" :task="task"/>
        </template>
      </v-list>

      <v-divider></v-divider>

      <v-card-actions>
        <v-layout>
          <v-flex>
            <NewTask/>
          </v-flex>
        </v-layout>
      </v-card-actions>
    </v-card>
    <router-view :key="$route.fullPath" name="notes"></router-view>
  </div>
</template>

<script>
  import Task from './Task'
  import NewTask from './NewTask'
  import EditListTitle from './EditListTitle'

  export default {
    name: 'Tasks',
    components: { Task, NewTask, EditListTitle },
    data: () => ({
    }),
    computed: {
      listTitle () {
        return this.$store.getters.LIST_TITLE(this.$route.params.listId)
      },
      TASKS () {
        return this.$store.getters.TASKS(this.$route.params.listId)
      }
    },
    async mounted () {
      await this.$store.dispatch('GET_TASKS', this.$route.params.listId)
    }
  }
</script>