<template>
  <v-navigation-drawer
      class="elevation-2"
      permanent
      style="width: 100%; overflow: hidden;"
  >
    <v-toolbar color="blue" dark>
      <v-toolbar-title v-if="!DISPLAY_SEARCH_LIST">Списки</v-toolbar-title>
      <SearchBar v-if="DISPLAY_SEARCH_LIST"/>
      <v-spacer></v-spacer>
      <v-btn @click.prevent="toggleSearchList()" icon>
        <v-icon>search</v-icon>
      </v-btn>
    </v-toolbar>

    <v-list>
      <v-list-tile @click.prevent="openNewListForm()" v-if="!isOpen">
        <v-list-tile-content>
          <v-list-tile-title>Создать список</v-list-tile-title>
        </v-list-tile-content>

        <v-list-tile-action>
          <v-btn icon>
            <v-icon>add</v-icon>
          </v-btn>
        </v-list-tile-action>
      </v-list-tile>

      <v-list-tile v-if="openNewListFormValue">
        <NewList/>
      </v-list-tile>
    </v-list>

    <v-divider light></v-divider>

    <v-list style="height: calc(100% - 120px); overflow-y: auto;">
      <v-list-tile
          :key="key"
          :to="{name: 'tasks', params: {listId: list.id}}"
          v-for="(list, key) in LISTS"
      >
        <v-list-tile-content>
          <v-list-tile-title>{{list.title}}</v-list-tile-title>
        </v-list-tile-content>

        <v-list-tile-action>
          <v-list-tile-title>{{TASKS_COUNT(list.id)}}</v-list-tile-title>
        </v-list-tile-action>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
  import SearchBar from '../SearchBar'
  import NewList from './NewList'
  import { mapGetters } from 'vuex'

  export default {
    name: 'Lists',

    components: { SearchBar, NewList },

    data: () => ({}),

    computed: {
      ...mapGetters(['DISPLAY_SEARCH_LIST', 'LISTS', 'TASKS_COUNT']),
      openNewListFormValue: {
        get () {
          return this.$store.getters.NEW_LIST_FORM
        },
        set (value) {
          this.$store.commit('SET_NEW_LIST_FORM', value)
        },
      },
      isOpen () {
        return this.$store.getters.NEW_LIST_FORM
      },
    },

    methods: {
      toggleSearchList () {
        this.$store.commit('SET_DISPLAY_SEARCH_LIST', !this.DISPLAY_SEARCH_LIST)
      },
      openNewListForm () {
        this.$store.commit('SET_NEW_LIST_FORM', true)
      }
    },

    async mounted () {
      await this.$store.dispatch('GET_LISTS')
    }
  }
</script>