<template>
  <v-container px-0 py-1>
    <v-form @submit.prevent="submit()" ref="form">
      <v-text-field
          :rules="[rules.required]"
          @blur="closeForm()"
          append-icon="add"
          placeholder="Наименование"
          pt-2
          ref="input"
          v-model="title"
      ></v-text-field>
    </v-form>
  </v-container>
</template>

<script>
  export default {
    name: 'NewList',
    data: () => ({
      title: '',
      rules: {
        required: value => !!value || 'Обязательно к заполнению',
      },
    }),
    methods: {
      submit () {
        this.$store.dispatch('POST_LIST', {
          title: this.title
        })
          .then(response => {
            this.$store.commit('SET_NOTIFICATION', {
              display: true,
              text: 'Список успешно создан!',
              class: 'success'
            })

            this.title = ''
            this.$router.push({
              name: 'tasks',
              params: {
                listId: response.data.id
              }
            })

            this.$store.commit('SET_NEW_LIST_FORM', false)
          })
      },
      closeForm () {
        this.$store.commit('SET_NEW_LIST_FORM', false)
      },
    },
    mounted () {
      this.$refs.input.focus()
    },
  }
</script>