<template>
  <v-layout justify-center row>
    <v-dialog max-width="60%" scrollable v-model="isOpen">
      <v-card>
        <v-card-title>
          <span class="headline">{{TASK_TITLE}}</span>
        </v-card-title>

        <v-card-text>
          <v-container>
            <v-form>
              <v-textarea
                  label="Примечание"
                  outline
                  placeholder="Дополнительная информация"
                  v-model="note"
              ></v-textarea>
              <v-btn @click.prevent="addNote()" color="success">Сохранить</v-btn>
            </v-form>
          </v-container>

          <v-list subheader>
            <v-subheader>Notes</v-subheader>

            <v-list-tile :key="key" v-for="(note, key) in NOTES">
              <v-list-tile-content>
                <v-list-tile-title>{{note.note}}</v-list-tile-title>
              </v-list-tile-content>

              <v-list-tile-action>
                <v-btn icon>
                  <v-icon @click.prevent="deleteNote(note.id)" color="red">delete</v-icon>
                </v-btn>
              </v-list-tile-action>
            </v-list-tile>
          </v-list>
        </v-card-text>

        <v-card-actions>
          <v-btn @click="isOpen = false" color="primary" flat small>Закрыть</v-btn>
          <v-spacer></v-spacer>
          <v-btn @click="deleteTask()" color="error" flat small>Удалить задачу</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
  export default {
    name: 'NotesModal',
    data: () => ({
      isOpen: true,
      note: '',
    }),

    computed: {
      NOTES () {
        return this.$store.getters.NOTES({
          listId: this.$route.params.listId,
          taskId: this.$route.params.taskId
        })
      },
      TASK_TITLE () {
        return this.$store.getters.TASK_TITLE({
          listId: this.$route.params.listId,
          taskId: this.$route.params.taskId
        })
      }
    },

    methods: {
      addNote () {
        this.$store.dispatch('POST_NOTE', {
          note: this.note,
          listId: this.$route.params.listId,
          taskId: this.$route.params.taskId,
        })
          .then(() => {
            this.note = 'ss'
          })
          .catch(() => this.$store.commit('SET_NOTIFICATION', {
            display: true,
            text: 'Что-то плохое произошло',
            class: 'error'
          }))
      },
      deleteNote (noteId) {
        this.$store.dispatch('DELETE_NOTE', {
          noteId,
          listId: this.$route.params.listId,
          taskId: this.$route.params.taskId
        })
          .then(() => {
            this.$store.commit('SET_NOTIFICATION', {
              display: true,
              text: 'Примечание удалено',
              class: 'success'
            })
          })
          .catch(() => {
            this.$store.commit('SET_NOTIFICATION', {
              display: true,
              text: 'OOPS!',
              class: 'error'
            })
          })
      },
      deleteTask () {
        this.$store
          .dispatch('DELETE_TASK', {
            listId: this.$route.params.listId,
            taskId: this.$route.params.taskId
          })
          .then(() => {
            this.$store.commit('SET_NOTIFICATION', {
              display: true,
              text: 'Задача удалена',
              class: 'success'
            })

            this.isOpen = false
          })
          .catch(() => {
            this.$store.commit('SET_NOTIFICATION', {
              display: true,
              text: 'OOPS!',
              class: 'error'
            })
          })
      }
    },

    async mounded () {
      await this.$store.dispatch('GET_NOTES', {
        listId: this.$route.params.listId,
        taskId: this.$route.params.taskId
      })
    },
    watch: {
      isOpen: function (value) {
        if (value === false) {
          this.$router.push({
            name: 'tasks',
            params: {
              listId: this.$route.params.listId
            }
          })
        }
      }
    }
  }
</script>