<template>
  <v-snackbar
      :color="NOTIFICATION.class"
      :timeout="NOTIFICATION.timeout"
      bottom
      right
      v-model="snackbar"
  >
    <v-icon dark>notification_important</v-icon>
    {{NOTIFICATION.text}}
    <v-btn @click.prevent="snackbar = false" flat>
      <v-icon>clear</v-icon>
    </v-btn>
  </v-snackbar>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'Notification',
    computed: {
      ...mapGetters(['NOTIFICATION']),
      snackbar: {
        get () {
          return this.$store.getters.NOTIFICATION.display
        },
        set () {
          this.$store.commit('SET_NOTIFICATION', {
            display: false,

          })
        }
      }
    }
  }
</script>