<template>
  <v-text-field
      :input="search()"
      @blur="closeSearchBar()"
      placeholder="Search..."
      ref="input"
      v-model.trim="input"
  ></v-text-field>
</template>

<script>
  export default {
    name: 'SearchBar',
    data: () => ({
      input: ''
    }),
    methods: {
      search () {
        // TODO search in the lists
      },
      closeSearchBar () {
        this.$store.commit('SET_DISPLAY_SEARCH_LIST', false)
      }
    }
  }
</script>