<template>
  <div style="max-height: 96.1vh; height: 100%;">
    <v-container fill-height fluid px-0 py-0>
      <v-layout align-space-between justify-space-between row>
        <v-flex lg3 pr-2>
          <Lists/>
        </v-flex>

        <v-flex lg6 px-2>
          <router-view :key="$route.fullPath" name="tasks"></router-view>
        </v-flex>

        <v-flex lg3 pl-2>
          <OptionsBar/>
        </v-flex>
      </v-layout>
    </v-container>

    <v-footer color="indigo" dark>
      <v-layout justify-center>
        <v-flex text-xs-center>
          &copy;2019
          <em>Евгений Комаров</em>
        </v-flex>
      </v-layout>
    </v-footer>
    <Notification/>
  </div>
</template>

<script>
  import Lists from './Lists/Lists'
  import OptionsBar from './Options/OptionsBar'
  import Notification from './Notification'

  export default {
    name: 'Todo',
    components: { Lists, OptionsBar, Notification },
  }
</script>