<template>
  <v-layout>
    <v-navigation-drawer absolute right v-model="isOpen">
      <v-list>
        <v-list-tile>
          <v-list-tile-avatar>
            <img alt="User avatar" src="https://randomuser.me/api/portraits/men/85.jpg">
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title>Евгений</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

      <v-divider></v-divider>

      <v-form>
        <v-container fluid>
          <v-flex xs12>
            <img :src="imageUrl" alt="" height="150px">

            <v-text-field
                @click="pickFile"
                label="Выберите изображение"
                prepend-icon="attach_file"
                v-model="imageName"
            ></v-text-field>

            <input
                @change="onFilePicked"
                accept="image/*"
                ref="image"
                style="display: none;"
                type="file"
            >
          </v-flex>

          <v-btn :disabled="!imageFile" :loading="isLoading" @click="uploadFile()">
            Установить фон
            <v-icon dark right>cloud_upload</v-icon>
          </v-btn>
        </v-container>
      </v-form>
    </v-navigation-drawer>
  </v-layout>
</template>

<script>
  export default {
    name: 'MoreOptions',
    data: () => ({
      isLoading: false,
      imageUrl: '',
      imageName: '',
      imageFile: ''
    }),
    computed: {
      isOpen: {
        get () {
          return this.$store.getters.DRAWER
        },
        set (value) {
          this.$store.commit('SET_DRAWER', value)
        }
      }
    },
    methods: {
      pickFile () {
        this.$refs.image.click()
      },
      onFilePicked (e) {
        const files = e.target.files

        if (files[0] !== undefined) {
          this.imageName = files[0].name

          if (this.imageName.lastIndexOf('.') <= 0) {
            return
          }

          const fr = new FileReader()
          fr.readAsDataURL(files[0])
          fr.addEventListener('load', () => {
            this.imageUrl = fr.result
            this.imageFile = files[0]
          })
        } else {
          this.imageName = ''
          this.imageFile = ''
          this.imageUrl = ''
        }
      },
      uploadFile () {
        // TODO upload file
      }
    }
  }
</script>
