<template>
  <div v-if="isShow">
    <v-card style="height: 100%; overflow: hidden;" tile>
      <v-toolbar color="pink" dark>
        <v-toolbar-title>
          Настройки
        </v-toolbar-title>
      </v-toolbar>

      <v-list>
        <v-list-group
            :key="key"
            :prepend-icon="item.action"
            no-action
            v-for="(item, key) in items"
            v-model="item.active"
        >
          <v-list-tile slot="activator">
            <v-list-tile-content>
              <v-list-tile-title>{{item.title}}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile
              :key="key"
              active-class
              v-for="(subItem, key) in item.items"
              v-on="item.action === 'sort'
            ? { click: () => sort(subItem.by) }
            : { click: () => filter(subItem.by) }"
          >
            <v-list-tile-content>
              <v-list-tile-title>{{subItem.title}}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-group>

        <v-list-group no-action prepend-icon="filter">
          <v-list-tile slot="activator">
            <v-list-tile-content>
              <v-list-tile-title>Параметры</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile @click.prevent="displayNotification()">
            <v-list-tile-content>
              <v-list-tile-title>Удалить список</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile @click.prevent="openDrawer()">
            <v-list-tile-content>
              <v-list-tile-title>Сменить фон</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-group>
      </v-list>
    </v-card>
    <MoreOptions/>
  </div>
</template>

<script>
  import MoreOptions from './MoreOptions'

  export default {
    name: 'OptionsBar',
    components: { MoreOptions },
    data: () => ({
      items: [
        {
          action: 'sort',
          title: 'Сортировка',
          active: true,
          items: [
            {
              title: 'Дата',
              by: 'date'
            },
            {
              title: 'Имя',
              by: 'name'
            }
          ]
        },
        {
          action: 'filter_list',
          title: 'Фильтр',
          active: false,
          items: [
            {
              title: 'Незавершенные',
              by: 'remaining'
            },
            {
              title: 'Завершенные',
              by: 'completed'
            },
            {
              title: 'Все',
              by: 'all'
            }
          ]
        }
      ]
    }),
    computed: {
      isShow () {
        return !!this.$route.params.listId
      }
    },
    methods: {
      sort (value) {
        alert(`Sort by ${value}`)
      },
      filter (value) {
        alert(`Filter by ${value}`)
      },
      openDrawer () {
        this.$store.commit('SET_DRAWER', true)
      },
      displayNotification () {
        this.$store.commit('SET_NOTIFICATION', {
          display: true,
          class: 'red',
          timeout: 3000,
          text: 'Список успешно удален!'
        })
      }
    }
  }
</script>