<template>
  <div style="max-height: 96.1vh; height: 100%;">
    <v-container fill-height>
      <v-layout align-center justify-center>
        <v-flex md4 sm8 xs12>
          <v-form>
            <v-card class="elevation-2">

              <v-toolbar color="blue" dark>
                <v-toolbar-title>
                  Авторизация
                </v-toolbar-title>
              </v-toolbar>

              <v-alert
                  :value="error"
                  color="error"
                  icon="close"
              >
                Неверно указаны имя пользователя или пароль
              </v-alert>

              <v-card-text>
                <v-text-field
                    label="Пользователь"
                    name="login"
                    prepend-icon="person"
                    v-model="username"
                ></v-text-field>

                <v-text-field
                    label="Пароль"
                    name="password"
                    prepend-icon="lock"
                    type="password"
                    v-model="password"
                ></v-text-field>
              </v-card-text>

              <v-divider light></v-divider>

              <v-card-actions>
                <v-btn :to="{name: 'signup'}" color="indigo" flat small>Зарегистрироваться</v-btn>
                <v-spacer></v-spacer>
                <v-btn @click.prevent="login()" color="success" flat small>
                  Войти
                  <v-icon>keyboard_arrow_right</v-icon>
                </v-btn>
              </v-card-actions>

            </v-card>
          </v-form>
        </v-flex>
      </v-layout>
    </v-container>
    <Notification/>
  </div>
</template>

<script>
  import Notification from '../Notification'

  export default {
    name: 'Login',
    components: { Notification },
    data: () => ({
      username: '',
      password: '',
      error: false
    }),
    methods: {
      login () {
        this.$store.dispatch('LOGIN', {
          username: this.username,
          password: this.password
        })
          .then(() => {
            this.$router.push({ name: 'todo' })
          })
          .catch(() => {
            this.error = true
          })
      }
    }
  }
</script>