<template>
  <v-container fill-height fluid>
    <v-layout align-center justify-center>
      <v-flex md4 sm8 xs12>
        <v-form>
          <v-card class="elevation-2">

            <v-toolbar color="blue" dark>
              <v-toolbar-title>
                Регистрация
              </v-toolbar-title>
            </v-toolbar>

            <v-card-text>
              <v-form>
                <v-alert :value="isUserExists" color="error" icon="warning">
                  Пользователь уже зарегистрирован
                </v-alert>

                <v-text-field
                    :rules="[rules.required]"
                    label="Пользователь"
                    name="login"
                    prepend-icon="person"
                    v-model="username"
                ></v-text-field>

                <v-text-field
                    :rules="[rules.required, rules.email]"
                    label="Email"
                    name="email"
                    prepend-icon="email"
                    v-model="email"
                ></v-text-field>

                <v-text-field
                    :rules="[rules.required]"
                    label="Пароль"
                    name="password"
                    prepend-icon="lock"
                    type="password"
                    v-model="password"
                ></v-text-field>

                <v-text-field
                    :error="!isValid()"
                    label="Повторите пароль"
                    name="password"
                    prepend-icon="lock"
                    type="password"
                    v-model="confirmPassword"
                ></v-text-field>
              </v-form>

            </v-card-text>

            <v-divider light></v-divider>

            <v-card-actions>
              <v-btn :to="{name: 'login'}" color="indigo" flat small>Авторизоваться</v-btn>
              <v-spacer></v-spacer>
              <v-btn @click.prevent="register()" color="success" flat small>
                Зарегистрироваться
                <v-icon>keyboard_arrow_up</v-icon>
              </v-btn>
            </v-card-actions>

          </v-card>
        </v-form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: 'SignUp',
    data: () => ({
      isUserExists: false,
      username: '',
      email: '',
      password: '',
      confirmPassword: '',
      rules: {
        required: value => !!value || 'Обязательно к заполнению',
        email: value => {
          const pattern = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Неверный адрес электронной почты'
        },
      },
    }),
    methods: {
      isValid () {
        return this.password === this.confirmPassword
      },
      register () {
        if (this.isValid()) {
          this.$store.dispatch('REGISTER', {
            username: this.username,
            email: this.email,
            password: this.password
          })
            .then(() => {
              this.$store.commit('SET_NOTIFICATION', {
                display: true,
                text: 'Аккаунт создан! Теперь вы можете войти.',
                class: 'success'
              })

              this.$router.push({ name: 'login' })
            })
            .catch(() => {
              this.isUserExists = true
            })
        }
      }
    },
  }
</script>